ul{
    border-top: 2px solid white;
    list-style-type: none;
    color: white;
    box-sizing: border-box;
    height:29vw;
    margin:1vw;
    overflow:auto;
    padding: 1vw 0;
}
h2{
    margin:1vw;
    text-align:left;
    font-size: 2.5vw;
    font-weight:normal;
}
.MyList_header{
    color:white;
    font-family: Calibri, Helvetica, sans-serif;
    margin-left: 1vw;
}
.Recommendation_header{
    color: white;
    font-family: Calibri, Helvetica, sans-serif;
    margin-left: 1vw;
}
img{
    height:20vw;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
